{% load static %}
<html>
<head>
  <title>order food online</title>
  <link rel="stylesheet"  href="{% static 'stylee.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    <div class="menu">
      <ul>
        <font color="#996666"><li>ORDER FOOD</li></font>

        <li><a href="signup" class="signup-btn"><span>SIGN UP</span></a></li>
         <li><a href="login" class="login-btn"><span>LOGIN</span></a></li>
      </ul>
  </div>
  <div class="banner">
    <div class="app-text">
       <font color="#996666"><h1>Our Basic Thesis Is To <br>  Serve You Food .</h1></font>
      <font color="#996666"> <p>Ordering food online Is A Major Time-Saver.<br>ORDER FOOD BY A SINGLE CLICK</p></font>
      <div class="play-btn">
        <div class="play-btn-inner"><i class="fa fa-play"></i>
        </div>
        <a href=https://www.youtube.com/watch?v=FZHMzKK9X6U><small><b>LEARN MORE</b></small></a>

      </div>

     </div>
     <div class="app-picture">
       <img src="{% static 'Order_food.gif' %}">

    </div>
  </div>
  <div class="footer">
  <div class="footer-content">
  <div class="footer-section about">
    <h1 class="logo-text"><span>ORDER</span>&nbsp;FOOD</h1>
    <br>
    <p>
      get the food delivered at your home just by a click.
    </p>
    <br>
    <div class="info">
      <span><i class="fa fa-link" aria-hidden="true"></i> foood.com</span>
    </div>
  </div>
  <div class="footer-section socials">
    <h1 class="logo-text"><span>SOCIALS</span>&nbsp;AVAILABLE</h1>
    <br>
  <div class="social">
    &nbsp; &nbsp;
    <a href="#https://www.facebook.com/harsha.tiw.7"><i class="fa fa-facebook-official"></i></a>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="#"><i class="fa fa-instagram" ></i></a>
    &nbsp; &nbsp;&nbsp; &nbsp;
     <a href="#https://www.youtube.com/watch?v=OPZaDU0UKi0"><i class="fa fa-youtube" ></i></a>


  </div>
</div>

  <div class="footer-section contactus">
    <h1 class="logo-text"><span>CONTACT</span>&nbsp;US</h1>
    <br>
    <div class="contact">
      <span><i class="fa fa-phone"></i>&nbsp; 123-466-899</span>
      <span><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp; info@harshatiw@gmail.com</span>
    </div>


  </div>
</div>

<div class="footer-bottom">
  &copy; food.com | Designed by harsha
</div>
</div>


</div>/
</body>
</html>
